html, body {
  direction: rtl;
  text-align: right;
}

.sidebar, .sidebar-navigation, #TOC, nav, .quarto-title-meta {
  direction: rtl;
  text-align: right;
}

.quarto-title-meta {
  text-align: center;
}
