html,
body {
  direction: rtl;
  text-align: right;
}

.sidebar,
.sidebar-navigation,
#TOC,
nav {
  direction: rtl;
  text-align: right;
}

.quarto-title-meta {
  direction: rtl;
  text-align: center;
}